In [2]:
#import libraries
import pandas as pd
import numpy as np

In [4]:
george_dupe = pd.Series([10,7,1,22],
                       index=['1968','1969','1970','1970'],
                       name='George Songs')
george_dupe

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [10]:
george_dupe['1968']

10

In [11]:
george_dupe['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

In [15]:
for item in george_dupe:
    print(item)

10
7
1
22

In [16]:
22 in george_dupe

False

In [17]:
22 in set(george_dupe)

True

In [18]:
george_dupe.values

array([10,  7,  1, 22], dtype=int64)

In [21]:
for item in george_dupe.iteritems():
    print(item)

('1968', 10)
('1969', 7)
('1970', 1)
('1970', 22)

In [11]:
george_dupe['1969']=6
george_dupe['1973'] = 11
george_dupe

1968    10
1969     6
1970     2
1970    22
1974     9
1973    11
Name: George Songs, dtype: int64

In [12]:
george_dupe['1970']=2
george_dupe

1968    10
1969     6
1970     2
1970     2
1974     9
1973    11
Name: George Songs, dtype: int64

In [13]:
george_dupe.iloc[3] = 22
george_dupe

1968    10
1969     6
1970     2
1970    22
1974     9
1973    11
Name: George Songs, dtype: int64

In [14]:
george_dupe.set_value('1974',9)

1968    10
1969     6
1970     2
1970    22
1974     9
1973    11
Name: George Songs, dtype: int64

In [15]:
del george_dupe['1973']
george_dupe

1968    10
1969     6
1970     2
1970    22
1974     9
Name: George Songs, dtype: int64

In [16]:
george_dupe[george_dupe <= 2]

1970    2
Name: George Songs, dtype: int64

In [18]:
george = pd.Series([10,7],
                  index=['1968','1969'],
                  name='George Songs')
george

1968    10
1969     7
Name: George Songs, dtype: int64

In [19]:
george.index

Index(['1968', '1969'], dtype='object')

In [20]:
dupe=pd.Series([10,2,7],
              index=['1968','1968','1969'],
              name='George Songs')
dupe

1968    10
1968     2
1969     7
Name: George Songs, dtype: int64

In [21]:
dupe.index.is_unique

False

In [22]:
george.index.is_unique

True

In [31]:
george[0:2:1]

1968    10
1969     7
Name: George Songs, dtype: int64

In [32]:
george.iloc[0]

10

In [35]:
george.loc['1969']

7

In [36]:
george.iloc[0:3]

1968    10
1969     7
Name: George Songs, dtype: int64

In [37]:
george.iloc[[0,1]]

1968    10
1969     7
Name: George Songs, dtype: int64

In [39]:
mask = george > 7
mask

1968     True
1969    False
Name: George Songs, dtype: bool

In [40]:
george[mask]

1968    10
Name: George Songs, dtype: int64